.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.1;
  font-weight: normal;
  margin-right: 18px;
  padding-top: 7px;
}

.header__lang-link:last-of-type {
 margin-right: 0;
}
