.page {
  background: #2A2C2F;
  width: 320px;
}

@media screen and (min-width: 320px) {
  .page {
    width: 100%;
    margin: 0 auto;
    background: #2A2C2F;
  }
}

@media screen and (min-width: 340px) {
  .page {
    width: 100%;
    margin: 0 auto;
    background: #2A2C2F;
  }
}

@media screen and (min-width: 768px) {
  .page {
    width: 100%;
    margin: 0 auto;
    background-color: green;
  }
}

@media screen and (min-width: 1024px) {
  .page {
    min-width: 100%;
    margin: 0 auto;
    background-color: yellowgreen;
  }
}

@media screen and (min-width: 1280px) {
  .page {
    width: 100%;
    margin: 0 auto;
    background-color: yellow;
  }
}

@media screen and (min-width: 1440px) {
  .page {
    width: 1440px;
    margin: 0 auto;
    background-color: red;
  }
}
