.cover__subtitle {
  min-width: 280px;
  width: 90%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  z-index: 1;
}

@media screen and (min-width: 600px) {
  .cover__subtitle {
    width: 360px;
    font-size: 18px;
    line-height: 1.2;
  }
}
