.cover__subtitle {
  min-width: 280px;
  /* max-width: 560px; */
  width: 90%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  z-index: 1;
}
