.content__intro {
  margin: 64px auto 0;
}

@media screen and (min-width: 768px) {
  .content__intro {
    margin: 89px 24px 0;
  }
}

@media screen and (min-width: 950px) {
  .content__intro {
    margin-top: 92px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .content__intro {
    margin-top: 92px;
  }
}
