.lead__subtitle {
  width: 90%;
  margin: 0 auto 40px;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    margin-bottom: 54px;
    width: 80%;
    font-size: 30px;
  }
}
