.place {
  width: auto;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 32px;
}

@media screen and (min-width: 700px) {
  .place {
    grid-template-columns: .965fr 1fr;
    gap: 46px 28px;
  }
}

@media screen and (min-width: 950px) {
  .place {
    gap: 50px 32px;
  }
}

@media screen and (min-width: 1080px) {
  .place {
    max-width: 1104px;
    grid-template-columns: 460px 1fr;
    gap: 50px 40px;
  }
}
