.page__footer {
  margin: 64px 5% 0;
}

@media screen and (min-width: 600px) {
  .page__footer {
    margin: 90px 24px 0;
  }
}

@media screen and (min-width: 1024px) {
  .page__footer {
    margin: 92px 48px 0;
  }
}

@media screen and (min-width: 1280px) {
  .page__footer {
    margin-left: auto;
    margin-right: auto;
  }
}
